*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/*LAYOUT*/

.content {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 30px;
  margin: 0 auto;
  inline-size: 1140px;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-block-end: 2px;
}

.content__list {
  padding: 2px;
  overflow: auto;
  block-size: 298px;
}

.content__details {
  display: flex;
  flex-direction: column;
  gap: 26px;
  overflow: auto;
  inline-size: 100%;
  block-size: 100%;
}

.result__video-container {
  margin-block-end: 16px;
  inline-size: 711px;
  block-size: 386px;
}

.result__video {
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}

.content__list-item:not(:last-of-type) {
  margin-block-end: 30px;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.content__video-card-thumbnail {
  object-fit: cover;
  object-position: center;
  inline-size: 194px;
  block-size: 103px;
}

.content__video-card-description-container {
  flex-grow: 1;
  inline-size: 101px;
}

.content__video-card-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*LAYOUT*/

/*PRELOADER*/

.result__video-container,
.content__list {
  position: relative;
}

/*PRELOADER*/

/*RESULT - TEXT STYLES*/

.search-form__fieldset-title {
  margin-block-end: 5px;
  font-weight: inherit;
  font-size: inherit;
}

/*RESULT - TEXT STYLES*/

/*CONTENT DETAILS - TEXT STYLES*/

.title {
  margin-block-start: 2px;
  font-family: Oswald, sans-serif;
  font-size: 75px;
  line-height: 0.94;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  display: block;
  margin: 2px;
  color: #fff;
  text-decoration: none;
}

.content__video-card-title {
  font-family: Oswald, sans-serif;
  font-size: 30px;
  line-height: 1;
  text-transform: uppercase;
}

.content__video-card-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 0.9;
}

/*CONTENT DETAILS - TEXT STYLES*/

/*VISUALLY HIDDEN*/

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

/*VISUALLY HIDDEN*/

/*SEARCH FORM*/

.search-form__fieldset {
  border: none;
}

.search-form__label {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  inline-size: fit-content;
}

.search-form__textfield {
  border: none;
  border-block-start: 1px solid #fff;
  border-block-end: 1px solid #fff;
  color: #545050;
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  min-inline-size: 225px;
  block-size: 27px;
  appearance: none;
}

.search-form__checkbox-list {
  display: flex;
  justify-content: space-between;
  min-inline-size: 212px;
}

.search-form__pseudo-checkbox {
  display: inline-flex;
  justify-content: center;
  border: 1px solid #fff;
  inline-size: 19px;
  block-size: 19px;
}

.button {
  border: 1px solid #fff;
  color: currentColor;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 700;
  font-size: inherit;
  background-color: transparent;
  cursor: pointer;
  block-size: 34px;
}

.search-form > :last-child {
  align-self: flex-end;
}

.search-form__submit-button {
  inline-size: 194px;
}

/*SEARCH FORM*/

/*CONTENT DETAILS*/

.more-button {
  inline-size: 100%;
}

/*CONTENT DETAILS*/

/*FORMS AND BUTTONS:ACTIVE*/

input[type="checkbox"]:checked + .search-form__pseudo-checkbox::after {
  content: "";
  display: flex;
  align-self: center;
  background-color: #fff;
  inline-size: 15px;
  block-size: 15px;
}

.content__card-link_current,
.content__video-card:active {
  background-color: #545050;
}

.button:active {
  text-decoration: none;
  background-color: #545050;
}

.search-form__textfield:active {
  border: none;
}

/*FORMS AND BUTTONS:ACTIVE*/

/*FORMS AND BUTTONS:HOVER*/

.search-form__label:hover:not(:only-of-type),
button:hover,
.content__video-card:hover {
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

/*FORMS AND BUTTONS:HOVER*/

/*FORMS AND BUTTONS:FOCUS*/

input:focus,
.button:focus,
.content__video-card:focus {
  outline: none;
}

.search-form__label:has(:focus-visible),
.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.content__video-card:focus-visible {
  padding: 2px;
  outline: 1px solid #fff;
}

/*FORMS AND BUTTONS:FOCUS*/
